a {
	padding: 1rem;
	cursor: pointer;
	border: 0.125rem solid black;
	border-radius: 0.25rem;

	/* text style */
	background-color: rgb(255, 192, 75);
	text-decoration: none;
	color: black;
	font-weight: 600;
	font-size: 1.125rem;

	/* animation */
	transition: box-shadow ease-in 100ms, transform ease-in 100ms;
}

a:hover {
	box-shadow: 0.25rem 0.25rem;
	transform: translate(-0.125rem, -0.125rem);
}
