<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Flashcards</title>
		<link rel="stylesheet" href="globals.css"/>
	</head>
	<body>
		{# check those spellings on classes 👀 #}
		<h1 class="tittle">Flash Cards</h1>
		<a class="button--secondary" href="/add-new">Add New</a>
		<div class="flashcards">
			{% for flashcard in flashcards %}
				<a href="/flashcard/?slug={{ flashcard.slug }} " class="flashcard">{{ flashcard.name }}</a>
			{% endfor %}
		</div>
	</body>
</html>